<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Areas/Admin/images/Login.ico">

    <link rel="stylesheet" href="~/Areas/Admin/css/normalize.css">
    <link rel="stylesheet" href="~/Areas/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/css/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/Admin/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="~/Areas/Admin/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/Areas/Admin/scss/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    @{
                        if (ViewBag.Error == null)
                        {
                            <h1 style="color: aliceblue">CMS Admin Login</h1>
                        }
                        else
                        {
                            <h1 style="color: red">@ViewBag.Error</h1>
                        }
                    }
                </div>
                <div class="login-form">
                    <form method="post" action="@Url.Action("CheckLogin", "HomeAdmin")" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label>Email address</label>
                            @{
                                if (Request.Cookies["UserName"] == null)
                                {
                                    <input type="text" class="form-control" name="UserName" placeholder="UserName">
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="UserName" value="@Request.Cookies["UserName"].Value" placeholder="UserName">
                                }
                            }
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @{
                                if (Request.Cookies["PassWord"] == null)
                                {
                                    <input type="password" class="form-control" name="PassWord" placeholder="PassWord">
                                }
                                else
                                {
                                    <input type="password" class="form-control" name="PassWord" value="@Request.Cookies["PassWord"].Value" placeholder="UserName">
                                }
                            }
                        </div>
                        <div class="checkbox">
                            <label>
                                @{
                                    if (Request.Cookies["UserName"] == null)
                                    {
                                        <input name="RememberMe" type="checkbox" value="false">
                                    }
                                    else
                                    {
                                        <input name="RememberMe" type="checkbox" value="false" checked="checked">
                                    }
                                }
                                Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="@Url.Action("ForgotPassword","HomeAdmin")">Forgotten Password?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                        <div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                            </div>
                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="@Url.Action("Register","HomeAdmin")"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/Admin/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/Areas/Admin/js/popper.min.js"></script>
    <script src="~/Areas/Admin/js/plugins.js"></script>
    <script src="~/Areas/Admin/js/main.js"></script>
</body>
</html>


<script type="text/javascript">
    function validateForm() {
        var a = $('input[name=UserName]').val();
        var b = $('input[name=PassWord]').val();

        if (a == null || a === "", b == null || b === "") {
            alert("Please Fill All Required Field");
            return false;
        }
        if ($("input:checked").length > 0) {
            $('input[name=RememberMe]').val("true");
        }
    }
</script>